<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

    <!-- If something starts with lower case, it'll be capitalized automatically if needed. -->
    <!-- If it starts with an upper case, you need to make sure you also capitalize it. -->

    <StyleChangeAnytimeShowAllStyles>show all styles</StyleChangeAnytimeShowAllStyles>
    <StyleChangeAnytimeShowAllStylesTooltip>If enabled, it'll always show all styles - even if they're not part of the player's ideology. (Ideology DLC required.)</StyleChangeAnytimeShowAllStylesTooltip>

    <StyleChangeAnytimeUsePrimaryIdeoOnly>only use primary ideology</StyleChangeAnytimeUsePrimaryIdeoOnly>
    <StyleChangeAnytimeUsePrimaryIdeoOnlyTooltip>Determines if only the primary colony ideology is used, or should the minor ones also be included. (Ideology DLC required.)</StyleChangeAnytimeUsePrimaryIdeoOnlyTooltip>

    <StyleChangeAnytimeIgnoreFactionCheck>ignore faction checks</StyleChangeAnytimeIgnoreFactionCheck>
    <StyleChangeAnytimeIgnoreFactionCheckTooltip>If enabled, it'll be possible to change the appearance of anything not owned by the player.\n\nNormally, only things that are owned/claimed by the player or things that cannot have faction (like items, chunks, plants) can be modified.</StyleChangeAnytimeIgnoreFactionCheckTooltip>

    <StyleChangeAnytimeApplyToBuildings>enabled for buildings</StyleChangeAnytimeApplyToBuildings>
    <StyleChangeAnytimeApplyToBuildingsTooltip>If enabled, it'll be possible to change the appearance of already crafted items (when a valid building is selected).</StyleChangeAnytimeApplyToBuildingsTooltip>

    <StyleChangeAnytimeApplyToBlueprints>enabled for blueprints</StyleChangeAnytimeApplyToBlueprints>
    <StyleChangeAnytimeApplyToBlueprintsTooltip>If enabled, it'll be possible to change the appearance of blueprints (when a valid blueprint is selected).</StyleChangeAnytimeApplyToBlueprintsTooltip>

    <StyleChangeAnytimeApplyToFrames>enabled for frames</StyleChangeAnytimeApplyToFrames>
    <StyleChangeAnytimeApplyToFramesTooltip>If enabled, it'll be possible to change the appearance of frames (when a valid frame is selected).\n\nFrames are buildings under construction. The changes will be visible only once fully constructed.</StyleChangeAnytimeApplyToFramesTooltip>

    <StyleChangeAnytimeApplyToItems>enabled for items</StyleChangeAnytimeApplyToItems>
    <StyleChangeAnytimeApplyToItemsTooltip>If enabled, it'll be possible to change the appearance of already crafted items (when a valid item is selected).</StyleChangeAnytimeApplyToItemsTooltip>

    <StyleChangeAnytimeApplyToPlants>enabled for plants</StyleChangeAnytimeApplyToPlants>
    <StyleChangeAnytimeApplyToPlantsTooltip>If enabled, it'll be possible to change the appearance of already crafted plants (when a valid plants is selected).</StyleChangeAnytimeApplyToPlantsTooltip>

    <StyleChangeAnytimeApplyToChunks>enabled for chunks</StyleChangeAnytimeApplyToChunks>
    <StyleChangeAnytimeApplyToChunksTooltip>If enabled, it'll be possible to change the appearance of chunks (when a valid chunk is selected).</StyleChangeAnytimeApplyToChunksTooltip>

    <StyleChangeAnytimeApplyToBills>enabled for bills</StyleChangeAnytimeApplyToBills>
    <StyleChangeAnytimeApplyToBillsTooltip>If enabled, it'll be possible to change the style of bill (inside of bill config window).</StyleChangeAnytimeApplyToBillsTooltip>

    <StyleChangeAnytimeDevModeLogs>enabled dev mode logs</StyleChangeAnytimeDevModeLogs>
    <StyleChangeAnytimeDevModeLogsTooltip>Enables extra logs when launching the game.</StyleChangeAnytimeDevModeLogsTooltip>

    <StyleChangeAnytimeApplyNever>never</StyleChangeAnytimeApplyNever>
    <StyleChangeAnytimeApplyClassicMode>classic mode</StyleChangeAnytimeApplyClassicMode>
    <StyleChangeAnytimeApplyAlways>always</StyleChangeAnytimeApplyAlways>

    <!-- Section name -->
    <StyleChangeAnytimeCompatibilityPatches>compatibility patches</StyleChangeAnytimeCompatibilityPatches>

    <StyleChangeAnytimeCompatibilityRpgStyleInventory>RPG Style Inventory Revamped</StyleChangeAnytimeCompatibilityRpgStyleInventory>
    <StyleChangeAnytimeCompatibilityRpgStyleInventoryTooltip>If enabled, it'll be possible to change the style of items equipped by your colonists using RPG style inventory.\n\nThis only on equipped items, not the ones carried by them. To change the style you need to right-click on the item in their inventory.</StyleChangeAnytimeCompatibilityRpgStyleInventoryTooltip>

</LanguageData>